#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 20px;
}

/* Create custom button design */

.button {
    background-color: rgba(77, 44, 138, 1);
    border: rgba(52, 26, 101, 1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana;
    font-size:20px;
    padding: 15px 25px;
    text-align: center;
}

.button-2 {
    background-color: rgba(77, 44, 138, 1);
    border: rgba(52, 26, 101, 1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana;
    font-size:14px;
    padding: 15px 25px;
    text-align: center;
}

/* From W3 Schools - Create columns and rows to more easily format elements on page */
/* Column-main is for main page and Column-photo is for image gallery page */

.column-main {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-photo {
    float: left;
    width: 33.33%;
}

/* Create a card class for stylizing organized elements */

.card {
    background-color: snow;
    box-shadow: 0 3px 6px 0 rgba(239, 239, 239, 1);
    transition: 0.5s;
    border-radius: 1px;
}

.card-body{
    padding: 4px 16px;
}

/* Background color for entire page */

body {
    background-color: rgba(154, 207, 207, 1);
}

/* Add border around image and resize photos while maintaining proportions */

img {
    height: auto;
    width: auto;
    max-width: 250px;

    border-style: solid;
    border-width: 5px;
    border-color: lightslategray;
}

/* From W3 Schools - How to create a Navigation Bar using lists */

li {
    float: left;
}

li a {
    color: white;
    display: block;
    font-family: Verdana;
    font-size:20px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(52, 26, 101, 1);
}

/* Change font for entire page */

span {
    font-family: Verdana;
}

/* From W3 Schools - How to create a Navigation Bar using lists */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(77, 44, 138, 1);
}